*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary-100:#892CDC;
    --primary-200:#BC6FF1;
    --primary-300:#fdf6fd;
    --accent-100:#D9ACF5;
    --accent-200:#fff4ff;
    --text-100:#EEEEEE;
    --text-200:#FDEBED;
    --bg-100:#222831;
    --bg-200:#393E46;
    --bg-300:#454e59;    
}

body {
    background-color: var(--bg-100);
    color: var(--text-100);
    font-family: "Roboto", sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

header{
    background-color: var(--primary-100);
    color: var(--bg-200);
    padding: 0.3;
    text-align: center;
    box-shadow:5px 0 10px var(--text-100);
    position: relative;
}

header h1 {
    font-family: "EB Garamond", sans-serif;
}

main{
    flex-grow:1 ;
    padding: 1rem;
}

main ul.messages li{
    background-color: var(--primary-200);
    color: var(--text-200);
    padding:0.3,1rem;
    border-radius:1rem ;
    list-style: none;
    width: fit-content;
    margin: 0.3;
}

form{
    display: flex;
    align-items: center;
    background-color: var(--primary-300);
    padding: 0.3rem;
    gap: 0.3rem;
}

form input {
    flex-grow: 1;
    border: none;
    padding: 0.3rem 1rem;
    background-color: var(--bg-200);
    color: var(--accent-200);
    border-radius: 1rem;
}

form button{
    border: none;
    padding: 0.3rem 1rem;
    background-color: var(--bg-200);
    color: var(--accent-200);
    border-radius: 1rem;
    cursor: pointer;
}

.auth{
    position: absolute;
    top: 1rem;
    right: 2rem;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 0.3rem;
    border-radius: 2rem;
    border: none;
    cursor: pointer;
}

main#register{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-grow: 1;

}

main#register form{
    background-color: var(--bg-200);
    padding: 1rem;
    border-radius: 1rem;
    flex-direction: column;
}
main#register form input{
    background-color: var(--primary-300);
    color: #222831;
}

main#register form label {
    margin-top: 1rem;
}